__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
.env
*.db
*.sqlite
.pytest_cache/
.mypy_cache/
.ruff_cache/
integration_tests/fastapi-full-stack/template/.venv/
integration_tests/fastapi-full-stack/template/frontend/node_modules/
